.pageHead {
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 3px solid white;
    color: white;
}

.custom-form {
    margin-bottom: 18px;
    background-color: rgb(253, 230, 235);
}

.custom-btn {
    color: white;
    border: 2px solid white;
    font-weight: bold;
}

.custom-btn:hover {
    background-color: white;
    color: black;
}