.pjpageHead {
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 3px solid white;
    color: white;
}

.custom-card {
    background-color: black !important;
    box-shadow: 
        2px 2px 10px white,
        -2px -2px 10px white;
    padding: 10px;
}

.custom-title {
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
    font-weight: bolder;
}

.custom-title:hover {
    cursor: default;
}

.custom-body {
    text-align: center;
    padding-top: 0;
}

.custom-body:hover {
    cursor: default;
}

.custom-desc {
    color: rgb(253, 225, 251);
}

.custom-tech {
    color: rgb(253, 225, 251);
    font-weight: bold;
}

.custom-link {
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 10%;
    color: white;
    text-decoration: none;
    flex-grow: -1;
    min-width: 60px;
    font-weight: bold;
    height: min-content;
}

.custom-link:hover {
    background-color: white;
    color: black;
}
